@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
body{
    background-color: #fcf8f3 ;
    font-family:"Source Serif Pro", serif ;
}
hr{
    border-width: 6px ;
    border-color: #ffaaa5;
    border-style: dotted none none;
    width: 5%;
}
h1{
    color: #ffaaa5;
    font-family: "Fauna One", serif;
}
h3{
    color: #ffaaa5;
    font-family: "Fauna One", serif;
}